@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: rgba(2, 54, 37, 0.452);
}

ol, ul {
  padding-left: 0;
}

header {
  grid-area: header;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
header .container__menu {
  background-color: rgb(36, 36, 36);
  width: 100%;
  height: 70px;
  padding: 0 20px;
}
header .container__menu .menu {
  width: 100%;
  margin: auto;
  height: 100%;
}
header .container__menu .menu nav {
  height: 100%;
}
header .container__menu .menu nav > ul {
  height: 100%;
  display: flex;
}
@media screen and (max-width: 750px) {
  header .container__menu .menu nav > ul {
    flex-direction: column;
    background-color: yellowgreen;
    position: fixed;
    left: 0;
    top: 70px;
    width: 100%;
    height: 0px;
    transition: all 300ms ease;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
  }
}
header .container__menu .menu nav > ul > li {
  height: 100%;
  position: relative;
}
header .container__menu .menu nav > ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 14px;
  font-size: 14px;
  transition: all 300ms ease;
  color: rgb(95, 95, 95);
}
header .container__menu .menu nav > ul > li > a:hover {
  transform: scale(1.1);
  color: #fff;
}
@media screen and (max-width: 750px) {
  header .container__menu .menu nav > ul > li > a:hover {
    transform: scale(1);
  }
}
header .container__menu .menu #selected {
  color: #fff;
}
header .container__menu .menu nav ul li ul {
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: rgb(36, 36, 36);
  position: absolute;
  top: 90px;
  left: -5px;
  padding: 14px 0;
  border-radius: 2px;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: all 300ms ease;
}
@media screen and (max-width: 750px) {
  header .container__menu .menu nav ul li ul {
    left: 90px;
  }
}
header .container__menu .menu nav ul li:hover ul {
  visibility: visible;
  opacity: 1;
  top: 60px;
}
@media screen and (max-width: 750px) {
  header .container__menu .menu nav ul li:hover ul {
    top: 27px;
  }
}
header .container__menu .menu nav ul li ul:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid rgb(36, 36, 36);
  position: absolute;
  top: -12px;
  left: 20px;
}
@media screen and (max-width: 750px) {
  header .container__menu .menu nav ul li ul:before {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-top: 12px solid rgb(36, 36, 36);
    top: 11px;
    left: -12px;
  }
}
header .container__menu .menu nav ul li ul li a {
  display: block;
  color: rgb(95, 95, 95);
  padding: 6px;
  padding-left: 14px;
  margin-top: 10px;
  font-size: 14px;
  transition: all 300ms ease;
}
header .container__menu .menu nav ul li ul li a:hover {
  background-color: rgb(0, 116, 77);
  color: #fff;
  transform: scale(1.1);
  padding-left: 30px;
}

@media screen and (max-width: 750px) {
  nav > ul > li:first-child {
    left: 2.5rem;
  }
}
.icon__login {
  color: rgb(0, 116, 77);
}

.li__login {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
@media screen and (max-width: 750px) {
  .li__login {
    justify-content: start;
    padding: 20px;
  }
}

.icon__menu {
  font-size: 26px;
  color: #fff;
  cursor: pointer;
  width: 26px;
  height: 100%;
  display: none;
  align-items: center;
}
@media screen and (max-width: 750px) {
  .icon__menu {
    display: flex;
  }
}

#label__check {
  width: 26px;
  height: 100%;
  display: none;
}
@media screen and (max-width: 750px) {
  #label__check {
    display: block;
  }
}

#check__menu {
  display: none;
}

#check__menu:checked ~ nav > ul {
  height: 300px;
  visibility: visible;
  opacity: 1;
}

.body-index {
  display: grid;
  grid-template-rows: auto 900px 600px 1400px 900px;
  grid-template-areas: "header" "main" "men-or-women" "info" "form";
}
.body-index main {
  grid-area: main;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-index main div {
  text-align: center;
}
.body-index .section-men-or-women {
  grid-area: men-or-women;
  background-color: gainsboro;
  display: grid;
  gap: 50px;
  margin: 70px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "men women";
}
.body-index .section-men-or-women .section-men-container {
  grid-area: men;
  background-color: cornflowerblue;
}
.body-index .section-men-or-women .section-women-container {
  grid-area: women;
  background-color: rosybrown;
}
.body-index .section-men-or-women .section-men-container, .body-index .section-men-or-women .section-women-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.body-index .section-information {
  grid-area: info;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-index .section-information article {
  background-color: rgb(167, 167, 8);
  margin: 70px;
  height: calc(100% - 140px);
  width: 100%;
  display: grid;
  grid-template-rows: 40% 60%;
  grid-template-columns: 50% 25% 25%;
  grid-template-areas: "text img1 img2" "img3 discount discount";
}
.body-index .section-information article .text {
  grid-area: text;
  background-color: aquamarine;
  display: flex;
  text-align: center;
  align-items: center;
}
.body-index .section-information article .text div {
  margin: 25%;
}
.body-index .section-information article .img1 {
  grid-area: img1;
  background-color: black;
}
.body-index .section-information article .img2 {
  grid-area: img2;
  background-color: purple;
}
.body-index .section-information article .img3 {
  grid-area: img3;
  background-color: peru;
}
.body-index .section-information article .discount {
  grid-area: discount;
  background-color: rgb(167, 167, 8);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.body-index .section-information article .discount div {
  margin: 30%;
}
.body-index .section-information article .discount div p {
  font-size: 4rem;
}
.body-index .section-form {
  grid-area: form;
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-index .section-form .section-form-container {
  height: 650px;
  width: 750px;
  padding: 50px;
  background-color: aquamarine;
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-areas: "p" "form";
}
.body-index .section-form .section-form-container p {
  grid-area: p;
  text-align: center;
  letter-spacing: 5px;
}
.body-index .section-form .section-form-container form {
  grid-area: form;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 3fr 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  grid-template-areas: "fn ln" "email email" "tel tel" "commentary commentary" "button button";
}
.body-index .section-form .section-form-container form .fn {
  grid-area: fn;
}
.body-index .section-form .section-form-container form .ln {
  grid-area: ln;
}
.body-index .section-form .section-form-container form .email {
  grid-area: email;
}
.body-index .section-form .section-form-container form .tel {
  grid-area: tel;
}
.body-index .section-form .section-form-container form .commentary {
  grid-area: commentary;
}
.body-index .section-form .section-form-container form button {
  grid-area: button;
  height: 50%;
}
.body-index .section-form .section-form-container form input, .body-index .section-form .section-form-container form label, .body-index .section-form .section-form-container form textarea {
  width: 100%;
}

.body-all-products main {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: "aside section";
  height: auto;
}
.body-all-products main aside {
  grid-area: aside;
  background-color: silver;
}
.body-all-products main section {
  grid-area: section;
  background-color: cadetblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.body-all-products main section article {
  margin: 60px;
}

html, body {
  background: #E3E3D8;
  font-family: sans-serif;
  padding: 25px;
}

.wrapper {
  width: 300px;
  height: 500px;
  background: white;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0;
  transform: scale(0.95);
  transition: box-shadow 0.5s, transform 0.5s;
}
.wrapper:hover {
  transform: scale(1);
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
.wrapper .container {
  width: 100%;
  height: 100%;
}
.wrapper .container .top {
  height: 80%;
  width: 100%;
  background: url(https://s-media-cache-ak0.pinimg.com/736x/49/80/6f/49806f3f1c7483093855ebca1b8ae2c4.jpg) no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.wrapper .container .bottom {
  width: 200%;
  height: 20%;
  transition: transform 0.5s;
}
.wrapper .container .bottom.clicked {
  transform: translateX(-50%);
}
.wrapper .container .bottom h1 {
  margin: 0;
  padding: 0;
}
.wrapper .container .bottom p {
  margin: 0;
  padding: 0;
}
.wrapper .container .bottom .left {
  height: 100%;
  width: 50%;
  background: #f4f4f4;
  position: relative;
  float: left;
}
.wrapper .container .bottom .left .details {
  padding: 20px;
  float: left;
  width: calc(70% - 40px);
}
.wrapper .container .bottom .left .buy {
  float: right;
  width: calc(30% - 2px);
  height: 100%;
  background: #f1f1f1;
  transition: background 0.5s;
  border-left: solid thin rgba(0, 0, 0, 0.1);
}
.wrapper .container .bottom .left .buy i {
  font-size: 30px;
  padding: 30px;
  color: #254053;
  transition: transform 0.5s;
}
.wrapper .container .bottom .left .buy:hover {
  background: #A6CDDE;
}
.wrapper .container .bottom .left .buy:hover i {
  transform: translateY(5px);
  color: #00394B;
}
.wrapper .container .bottom .right {
  width: 50%;
  background: #A6CDDE;
  color: white;
  float: right;
  height: 200%;
  overflow: hidden;
}
.wrapper .container .bottom .right .details {
  padding: 20px;
  float: right;
  width: calc(70% - 40px);
}
.wrapper .container .bottom .right .done {
  width: calc(30% - 2px);
  float: left;
  transition: transform 0.5s;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
}
.wrapper .container .bottom .right .done i {
  font-size: 30px;
  padding: 30px;
  color: white;
}
.wrapper .container .bottom .right .remove {
  width: calc(30% - 1px);
  clear: both;
  border-right: solid thin rgba(255, 255, 255, 0.3);
  height: 50%;
  background: #BC3B59;
  transition: transform 0.5s, background 0.5s;
}
.wrapper .container .bottom .right .remove:hover {
  background: #9B2847;
}
.wrapper .container .bottom .right .remove:hover i {
  transform: translateY(5px);
}
.wrapper .container .bottom .right .remove i {
  transition: transform 0.5s;
  font-size: 30px;
  padding: 30px;
  color: white;
}
.wrapper .container .bottom .right:hover .remove, .wrapper .container .bottom .right:hover .done {
  transform: translateY(-100%);
}
.wrapper .inside {
  z-index: 9;
  background: #92879B;
  width: 140px;
  height: 140px;
  position: absolute;
  top: -70px;
  right: -70px;
  border-radius: 0px 0px 200px 200px;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
}
.wrapper .inside .icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: white;
  opacity: 1;
}
.wrapper .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 80%;
}
.wrapper .inside:hover .icon {
  opacity: 0;
  right: 15px;
  top: 15px;
}
.wrapper .inside:hover .contents {
  opacity: 1;
  transform: scale(1);
  transform: translateY(0);
}
.wrapper .inside .contents {
  padding: 5%;
  opacity: 0;
  transform: scale(0.5);
  transform: translateY(-200%);
  transition: opacity 0.2s, transform 0.8s;
}
.wrapper .inside .contents table {
  text-align: left;
  width: 100%;
}
.wrapper .inside .contents h1, .wrapper .inside .contents p, .wrapper .inside .contents table {
  color: white;
}
.wrapper .inside .contents p {
  font-size: 13px;
}

/*# sourceMappingURL=style.css.map */
