//index
.body-index {
    display: grid;
    grid-template-rows: auto 900px 600px 1400px 900px;
    grid-template-areas:
        "header"
        "main"
        "men-or-women"
        "info"
        "form"
    ;

    main {
        grid-area: main;
        background-color: gray;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            text-align: center;
        }
    }

    .section-men-or-women {
        grid-area: men-or-women;
        background-color: gainsboro;
        display: grid;
        gap: 50px;
        margin: 70px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "men women"
        ;
        .section-men-container{
            grid-area: men;
            background-color: cornflowerblue;
        }
        .section-women-container{
            grid-area: women;
            background-color: rosybrown;

        }
        .section-men-container , .section-women-container{
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
        }

    }

    .section-information {
        grid-area: info;
        background-color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
        article{
            background-color: rgb(167, 167, 8);
            margin: 70px;
            height: calc(100% - 140px);
            width: 100%;
            display: grid;
            grid-template-rows: 40% 60%;
            grid-template-columns: 50% 25% 25%;
            grid-template-areas: 
            "text img1 img2"
            "img3 discount discount"
            ;
            .text{
                grid-area: text;
                background-color: aquamarine;
                display: flex;
                text-align: center;
                align-items: center;
                div{
                    margin: 25%;
                }
            }
            .img1{
                grid-area: img1;
                background-color: black;
            }
            .img2{
                grid-area: img2;
                background-color: purple;
            }
            .img3{
                grid-area: img3;
                background-color: peru;
            }
            .discount{
                grid-area: discount;
                background-color: rgb(167, 167, 8);
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                div{
                    margin: 30%;
                    p{
                        font-size: 4rem;
                    }
                }
            }
        }
    }
    
    .section-form {
        grid-area: form;
        background-color: gainsboro;
        display: flex;
        justify-content: center;
        align-items: center;
        .section-form-container{
            height: 650px;
            width: 750px;
            padding: 50px;
            background-color: aquamarine;
            display: grid;
            grid-template-rows: 20% 80%;
            grid-template-areas: 
            "p"
            "form";
            p{
                grid-area: p;
                text-align: center;
                letter-spacing: 5px;
            }
            form{
                grid-area: form;
                display: grid;
                grid-template-rows: 1fr 1fr 1fr 3fr 1fr;
                grid-template-columns: 1fr 1fr;
                column-gap: 10px;
                grid-template-areas: 
                "fn ln"
                "email email"
                "tel tel"
                "commentary commentary"
                "button button"
                ;
                .fn{
                    grid-area: fn;
                }
                .ln{
                    grid-area: ln;
                }
                .email{
                    grid-area: email;
                }
                .tel{
                    grid-area: tel;
                }
                .commentary{
                    grid-area: commentary;
                }
                button{
                    grid-area: button;
                    height: 50%;
                }
                input , label , textarea{
                    width: 100%;
                }
            }
        }
    }

}